name: mqtt-inspector

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  frontend:
    runs-on: ubuntu-22.04
    container:
      image: node:18-alpine3.17
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          cd frontend
          yarn install

      - name: Check code quality
        run: |
          cd frontend
          yarn lint

      - name: Test svelte code
        run: |
          cd frontend
          yarn test

      - name: Build svelte app
        run: |
          cd frontend
          yarn build

      - name: Upload svelte artifact
        uses: actions/upload-artifact@v3
        with:
          name: svelte-app
          path: wwwroot

  backend:
    runs-on: ubuntu-22.04
    container:
      image: mcr.microsoft.com/devcontainers/rust:1-1-bookworm
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Check code quality
        run: |
          cd backend
          cargo clippy

      - name: Run tests
        run: |
          cd backend
          cargo test

      - name: Build app
        run: |
          cd backend
          cargo build --release

      - name: Upload rust artifact
        uses: actions/upload-artifact@v3
        with:
          name: rust-app
          path: backend/target/release/backend

  deploy:
    runs-on: ubuntu-22.04
    container:
      image: docker:23.0
    needs:
      - frontend
      - backend
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: svelte-app
          path: wwwroot

      - uses: actions/download-artifact@v3
        with:
          name: rust-app
          path: backend/target/release

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{github.actor}}
          password: ${{secrets.GITHUB_TOKEN}}

      - name: Build docker image and deploy
        run: |
          docker build -t ghcr.io/klawr/mqtt-inspector:latest .
          docker push ghcr.io/klawr/mqtt-inspector:latest